.search-box {
  background-color: #eee;
  width: 100%;
  height: 7rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
  color: #000;
}
.search-box .search-img {
  width: 100%;
  height: 65%;
}
.search-box .search-img img {
  width: 100%;
  height: 100%;
}
.search-box .search-desc div {
  width: 50%;
  float: left;
}
.left-p1,
.left-p2 {
  text-align: center;
  padding: 0.2rem 0 0rem 0.3rem;
  font-size: 14px;
  /* white-space: nowrap;   //强制一行显示
    text-overflow: ellipsis;   //溢出文本时显示省略标记
    overflow: hidden; */
}
.right-p2 {
  padding: 0.2rem 0 0rem 0.3rem;
  text-align: center;
}
.right-p1 {
  padding: 0.1rem;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  margin: 0.2rem 0.2rem 0 0.5rem;
}
