.item {
  float: left;
  width: 25%;
  margin-bottom: 0.5rem;
}
.item img {
  width: 80%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.item p {
  padding: 0.1rem 0;
  text-align: center;
}
