.tabs-title {
  overflow: hidden;
}
.tabs-title .active {
  color: red;
}
.tabs-title div {
  border: 1px solid red;
  margin: 0.3rem 0.2rem 0.4rem 0.5rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  width: 35%;
  float: left;
  text-align: center;
}
.hidden {
  display: none;
}
.active {
  display: block;
}
